{{ component( "CeresCoconut::ItemList.Components.CategoryItem") }}
{{ component( "CeresCoconut::PageDesign.Components.Carousel" ) }}

<script type="x/template" id="vue-last-seen-item-list">
    <div class="row" v-if="items.length">
        <div class="col-12">
            <slot name="heading"></slot>
        </div>

        <div class="container">
<div class="row border-hover-effect ">
                <category-item
                    slot="items"
                    class="col-lg-3 col-md-4 col-sm-6 col-6"
                    v-for="item in items"
                    :key="item.id"
                    :item-data="item.data"
                    :decimal-count="{{ ceresConfig.item.storeSpecial }}"
                    :disable-carousel-on-mobile="items.length > itemsPerPage">
                    <template slot="BeforePrices">
                        <div v-html="getContainerContentById(item.id, 'beforePrices')"></div>
                    </template>
                    <template slot="AfterPrices">
                        <div v-html="getContainerContentById(item.id, 'afterPrices')"></div>
                    </template>
                </category-item>
</div>
        </div>
    </div>
</script>
