{{ component( "Ceres::Basket.Components.AddToBasket" ) }}
{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
{{ component( "Ceres::ItemList.Components.ItemStoreSpecial" ) }}

{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

<script type="x/template" id="vue-category-item">

<article>
<div class="single-makal-product">
  <div class="pro-img">
  <a :href="itemData | itemURL"><img v-bind:src="itemData.images.all[0].urlMiddle"></a>

  <slot name="store-special">
      <item-store-special v-if="storeSpecial || item.variation.bundleType == 'bundle'"
                          :store-special="storeSpecial"
                          :recommended-retail-price="item.prices.rrp"
                          :variation-retail-price="item.prices.default"
                          :special-offer-price="item.prices.specialOffer"
                          :decimal-count="decimalCount"
                          :bundle-type="item.variation.bundleType"></item-store-special>
  </slot>

  </div>
  <div class="pro-content">
  <h4 class="pro-title"><a :href="itemData | itemURL">${ item | itemName }</a></h4>
  <p><span class="price">${ itemData.prices.default.unitPrice.formatted }</span>
  <span class="prev-price" v-if="itemData.prices.rrp && itemData.prices.rrp.price.value > 0 && itemData.prices.rrp.price.value > itemData.prices.default.unitPrice.value">
  ${ itemData.prices.rrp.unitPrice.formatted }</span>
  </p>
  </div>

  <div class="category-unit-price" v-if="!(item.unit.unitOfMeasurement === 'C62' && item.unit.content === 1)">
  <p style="font-size:7pt;">
                        <span>${ item.unit.content }</span>
                        <span>&nbsp;${ item.unit.names.name }</span>
                        <span v-if="item.variation.mayShowUnitPrice">&nbsp;| ${ item.prices.default.basePrice }</span>
                        </p>
                    </div>

</div>
</article>

</script>
