<script type="x/template" id="vue-item-search">

<li class="cart-box-right">
<div class="search-box-inner">
    <div class="search-box-shadow-frame">
<input type="search" ref="searchInput" @input="autocomplete($event.target.value)" placeholder="Suche.."
    @keyup.enter="prepareSearch()" @keyup.down="keydown()" @keyup.up="keyup()"
    @focus="isSearchFocused = true" @blur="setIsSearchFocused(false)"
    autofocus>
    <button type="submit" @click="search()"><span class="pe-7s-search"></span></button>




<div class="autocomplete-suggestions" v-if="isSearchFocused && autocompleteResult.length">
    <div class="autocomplete-suggestion" v-for="(item, index) in autocompleteResult" :key="index" @mousedown="selectAutocompleteItem(item)" :class="{ 'autocomplete-selected': selectedAutocompleteIndex === index }">
        <div class="autocomplete-image-container" v-if="showItemImages">
            <img class="autocomplete-image" :src="item.img">
        </div>
        <div class="autocomplete-item-name" v-html="item.displayName"></div>
    </div>
</div>
</div></div>
</li>
</script>
